<template>
  <el-container class="hello-world" :style="background">
    <el-header>
      <h1>XXX系统</h1>
    </el-header>

    <el-main style="overflow: hidden">
      <el-carousel
        :interval="3000"
        type="card"
        height="300px"
        class="hello-world-el-carousel"
        arrow="never"
      >
        <el-carousel-item v-for="item in imgObj" :key="item.key">
          <img
            :src="item.imgSrc"
            style="height: inherit; width: initial"
            @dblclick="changeImg"
            :name="item.key"
            @mouseover="titleImg"
          />
        </el-carousel-item>
      </el-carousel>
      <el-card shadow="always">
        <div
          style="
            text-align: center;
            background: rebeccapurple;
            font-size: larger;
            color: white;
          "
        >
          <span>登录</span>
        </div>
        <div style="height: 80%">
          <el-form label-position="top" label-width="80px">
            <el-form-item label="用户名">
              <el-input
                v-model="login.name"
                placeholder="邮箱"
              ></el-input>
            </el-form-item>
            <el-form-item label="密码">
              <el-input
                v-model="login.passwd"
                placeholder="密码"
                show-password
              ></el-input>
            </el-form-item>
            <el-form-item label="验证码" v-show="false">
              <el-input v-model="login.asscode"></el-input>
            </el-form-item>
            <transition name="el-zoom-in-center">
              <el-button
                type="primary"
                @click="onSubmit"
                v-show="buttonShow"
                style="float: right"
                >提交</el-button
              >
            </transition>
          </el-form>
        </div>
        <div>
          <el-link
            :underline="false"
            @click="
              () => {
                this.addUserShow = true;
              }
            "
            :style="showLight"
            >注册</el-link
          >
        </div>
      </el-card>
    </el-main>
    <el-aside>
      <el-drawer
        title="注册"
        :visible.sync="addUserShow"
        :before-close="handleClose"
        :wrapperClosable="false"
        size="24%"
        :style="addUserBackground"
      >
        <el-form label-position="top" label-width="80px" class="add-user">
          <el-form-item label="">
            <el-tag>邮箱</el-tag>
            <el-input v-model="addlogin.email" placeholder="邮箱"> </el-input>
          </el-form-item>
          <el-form-item label="">
            <el-tag>用户名</el-tag>
            <el-input v-model="addlogin.name" placeholder="用户名"></el-input>
          </el-form-item>
          <el-form-item label="">
            <el-tag>密码</el-tag>
            <el-input
              v-model="addlogin.passwd"
              placeholder="密码"
              show-password
            ></el-input>
          </el-form-item>
          <el-form-item label="">
            <el-tag>验证码</el-tag>
            <el-input v-model="addlogin.asscode"> </el-input>
          </el-form-item>
          <transition name="el-zoom-in-center">
            <el-button
              type="primary"
              @click="addSubmit"
              style="float: right"
              :loading="loading"
              :disabled="disButton"
              >{{ addInfo }}</el-button
            >
          </transition>
        </el-form>
      </el-drawer>
    </el-aside>
    <el-footer>
      <div class="el-link-befor">
        <el-link :underline="false">备案号xxx</el-link>
      </div>
    </el-footer>
  </el-container>
</template>
<script>
import helloWorld from "@/mixins/helloworld";
export default {
  mixins: [helloWorld],
  data() {
    return {
      login: {
        name: "",
        passwd: "",
        asscode: "",
      },
      addlogin: {
        email: "",
        name: "",
        passwd: "",
        asscode: "",
      },
      addUserShow: false,
      buttonShow: false,
      loading: false,
      addInfo: "发送验证码",
      background: null,
      addUserBackground: null,
      showLight: null,
      imgNum: 7,
      imgObjSave: null,
      canTitle: true,
      disButton:false,
      otherDisButton:false,
      needSend:false
    };
  },
  methods: {},
  computed: {
    imgObj(e) {
      let imgArr = [];
      for (let index = 0; index < this.imgNum; index++) {
        let date = new Date(
          new Date().getTime() - (index + 1) * 24 * 60 * 60 * 1000
        );
        let url =
          "https://api.kdcc.cn/img/bingimg/" +
          date.getFullYear() +
          "/" +
          (date.getMonth() < 9
            ? "0" + (date.getMonth() + 1)
            : date.getMonth() + 1) +
          "/" +
          (date.getDate()<=9?"0"+date.getDate():date.getDate()) +
          ".jpg";
        imgArr[index] = { key: index, imgSrc: url };
      }
      this.imgObjSave = imgArr;
      return imgArr;
    },
  },
  created() {
    let date = new Date();
    //
    this.background = {
      background:
        'url("https://api.kdcc.cn/img/bingimg/' +
        date.getFullYear() +
        "/" +
        (date.getMonth() < 9
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1) +
        "/" +
        (date.getDate()<=9?"0"+date.getDate():date.getDate()) +
        '.jpg")',
    };
  },
  watch: {
    login: {
      handler(e) {
        if (e.name && e.passwd) {
          this.buttonShow = true;
        } else {
          this.buttonShow = false;
        }
      },
      deep: true,
    },
    addlogin: {
      handler(e) {
        this.disButton = false;
        if (e.asscode.length===8) {
          this.addInfo = "提交";
          this.otherDisButton=false
        } else if(this.otherDisButton) {
          this.disButton = true;
        }
      },
      deep: true,
    },
    addUserShow(e) {
      if (e) {
        this.addUserBackground = this.background;
      } else {
        this.addlogin.email = "";
        this.addlogin.name = "";
        this.addlogin.passwd = "";
        this.addlogin.asscode = "";
        this.loading = false;
        this.addInfo = "发送验证码";
         this.disButton=false;
         this.needSend=false;
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.hello-world {
  height: 100%;
  width: 100%;
  user-select: none;
  background: gainsboro;
  .el-link {
    width: 100%;
    height: 100%;
    &-befor {
      float: left;
      box-shadow: #060606 0px 3px 10px 3px;
      background: #dcdcdc00;
      border-radius: 5px;
      padding: 1px 10px;
    }
  }
  .el-tag {
    background: #00000054;
    border: 0;
    font-size: large;
    color: #05ff46;
    height: 26px;
    line-height: normal;
    box-shadow: #fb05ff 0px 3px 10px 3px;
  }
  .el-card {
    width: 24%;
    height: 100%;
    margin-left: 64%;
    background: right;
    border: 0;
    box-shadow: #303133 0px 3px 10px 3px;
  }
  /deep/ .el-card__body {
    height: 100%;
    background: #dcdcdc33;
  }
  .el-header {
    width: 100%;
  }
  &-el-carousel {
    position: absolute;
    left: 3%;
    top: 10%;
    width: 55% !important;
  }
  .el-footer {
    height: 30px !important;
  }
  .el-form {
    margin-top: 5%;
    text-align: left;
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }
  /deep/ .el-drawer__open .el-drawer.rtl {
    background: right !important;
  }
  .el-carousel__item:nth-child(2n) {
    box-shadow: #303133 0px 3px 10px 3px;
    margin-top: 10px;
  }

  .el-carousel__item:nth-child(2n + 1) {
    box-shadow: #303133 0px 3px 10px 3px;
    margin-top: 10px;
  }
  /deep/ .el-input__inner {
    border: 0;
    background: #0000008a;
    color: #0ffb00;
  }
  .add-user {
    width: 64%;
    margin: auto;
    height: 90%;
  }
}
</style>